body{
    background-color: rgb(204, 224, 241);
}

table, th, td{
    border:1px solid black;
}

body{
    background-image: url(https://www.freecodecamp.org/news/content/images/2021/06/w-qjCHPZbeXCQ-unsplash.jpg);
    background-position: 

}